challenge4flows.json
[
    {
        "id": "8d6e101c1f119a9f",
        "type": "tab",
        "label": "Challenge4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f06aed96632a6545",
        "type": "mqtt in",
        "z": "8d6e101c1f119a9f",
        "name": "",
        "topic": "fiap/Serelepes/temp",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6b10a7944ec5bd5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "daa5b219404b84a3"
            ]
        ]
    },
    {
        "id": "a261399b9db80abc",
        "type": "debug",
        "z": "8d6e101c1f119a9f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "02664e1aa1779442",
        "type": "mqtt in",
        "z": "8d6e101c1f119a9f",
        "name": "",
        "topic": "fiap/Serelepes/oxigenio",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6b10a7944ec5bd5d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "9a19f9a3bcfe8840"
            ]
        ]
    },
    {
        "id": "8b76ac1c0b88a297",
        "type": "debug",
        "z": "8d6e101c1f119a9f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "fbb37be3025fd273",
        "type": "ui_gauge",
        "z": "8d6e101c1f119a9f",
        "name": "",
        "group": "e308c72906797974",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "°",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "812e467d2df4df3a",
        "type": "ui_gauge",
        "z": "8d6e101c1f119a9f",
        "name": "",
        "group": "030a321eb081c784",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxigenio",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "daa5b219404b84a3",
        "type": "change",
        "z": "8d6e101c1f119a9f",
        "name": "Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "a261399b9db80abc",
                "fbb37be3025fd273"
            ]
        ]
    },
    {
        "id": "9a19f9a3bcfe8840",
        "type": "change",
        "z": "8d6e101c1f119a9f",
        "name": "Oxygen",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.oxigenioDissolvido",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "8b76ac1c0b88a297",
                "812e467d2df4df3a"
            ]
        ]
    },
    {
        "id": "6b10a7944ec5bd5d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "Utida",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e308c72906797974",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "e24c463cf5af8f9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "030a321eb081c784",
        "type": "ui_group",
        "name": "Oxygen",
        "tab": "e24c463cf5af8f9f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e24c463cf5af8f9f",
        "type": "ui_tab",
        "name": "CP4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]